[[source]]
url = "https://mirror2.chabokan.net/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg = {extras = ["binary"], version = "*"}
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.14"
